[package]
name = "airgorah"
version = "0.5.1"
edition = "2021"
license = "MIT"
description = "A WiFi auditing software that can perform deauth attacks and passwords cracking"
authors = ["Martin Olivier <martin.olivier@live.fr>"]
homepage = "https://github.com/martin-olivier/airgorah"
repository = "https://github.com/martin-olivier/airgorah"
documentation = "https://github.com/martin-olivier/airgorah/wiki"
keywords = ["networking", "pentest", "aircrack-ng", "gui", "linux"]
readme = "README.md"
exclude = ["/.github", "/package"]

[dependencies]
gtk4 = { version = "0.7", features = ["v4_6"] }
glib = "0.18"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
toml = "0.8"
csv = "1.3"
sudo = "0.6"
ctrlc = "3.4"
regex = "1.9"
lazy_static = "1"
ureq = { version = "2.8", features = ["json"] }
which = "5"
log = "0.4"
env_logger = "0.10"
